<div class="buttonbar">
  <button class="button create-button" (click)="openWindow('app/window/window.module#WindowModule', 'TesteComponent', 1);">Create Window</button>
  <button class="button create-button" (click)="openWindow('app/window/window.module#WindowModule', 'WinComponent', 2);">Create Window win</button>
  <button class="button create-button" (click)="openWindow('app/window/window.module#WindowModule', 'EsquemaComponent', 3);">Create Window Esquema</button>
  <button class="button expose-button">Exposé</button>
</div>